# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

src/rsc/
/out
/src/dev/blocky/aoc/annotations/
/src/dev/blocky/aoc/annotations/NeedHelp.java
/src/dev/blocky/aoc/annotations/Unresolved.java
